#notes {
	.note {
		background: lighten($blue, 20%);
		width: 30%;
		min-height: 150px;
		float: left;
		position: relative;
		border-radius: .4rem;
		margin: 1rem 1%;
		padding: 1.5rem 2.5%;
		.title {
			@include bold_font;
			color: white;
			margin: 0;
			letter-spacing: 1px;
		}
		.date {
			position: absolute;
			bottom: .25rem;
			left: 8.5%;
			color: white;
			font-size: .85rem;
		}
	}
}
